.stats-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    h1 { margin: 0; color: #3f51b5; font-size: 1.5rem; }
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .stat-card {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 10px;

    mat-card-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-top: 10px;
    }

    mat-card-subtitle {
      color: rgba(255,255,255, 0.8);
    }

    // Icono decorativo gigante de fondo
    mat-icon {
      position: absolute;
      right: -10px;
      bottom: -10px;
      font-size: 100px;
      height: 100px;
      width: 100px;
      opacity: 0.2;
    }

    // Colores de las tarjetas
    &.blue { background: linear-gradient(45deg, #2196f3, #21cbf3); }
    &.green { background: linear-gradient(45deg, #4caf50, #8bc34a); }
    &.orange { background: linear-gradient(45deg, #ff9800, #ffc107); }
  }
}
