.mat-mdc-select-panel {
  background-color: white !important;
}

/* fondo opaco calendario */
.mat-datepicker-content {
  background-color: white !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
}

.mat-mdc-tooltip-surface {
  background-color: #616161 !important;
  color: white !important;
  font-size: 12px !important;
  opacity: 1 !important;
  z-index: 9999 !important;
}

/* Texto al escribir en negro */
.mat-mdc-input-element {
  color: black !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

/* El texto de ejemplo se queda gris */
.mat-mdc-input-element::placeholder {
  color: #9e9e9e !important;
  font-weight: normal !important;
}

.mat-mdc-select-value {
  color: black !important;
  font-weight: 500 !important;
}

.mat-mdc-input-element {
  padding-left: 5px !important;
}

.mat-mdc-select-value {
  padding-left: 5px !important;
}
